[submodule "/themes/osprey"]
	path = /themes/osprey
	url = https://github.com/tomanistor/osprey.git
[submodule "themes/osprey"]
	path = themes/osprey
	url = https://github.com/tomanistor/osprey.git
[submodule "prints/themes/themes/osprey"]
	path = prints/themes/themes/osprey
	url = https://github.com/tomanistor/osprey.git
