<style>

  header {
    background-image: url("images/rotationyellowwhite.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    margin-left: 10%
  }

  .home-logo {
    margin-top: 5%;
  }

  @media (max-width: 950px) {
    .home-logo {
      display: none;
    }

    header {
      background-image: url("images/rotationyellowwhite1.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      margin-left: 0%


    }

}

  </style>
