<style>

  header {
    background-image: url("images/rotationyellowwhite.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    margin-left: 10%

  }

  .home-logo {
    margin-top: 5%;
  }

  @media (max-width: 768px) {
    .home-logo {
      display: none;
    }

    header {
      background-image: url("images/SquaresBlackandWhitescreen.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin: 0;
      height: 100vh;
    }

  </style>
