<style>

  header {
    background-image: url("images/butterrflyredyellowname.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45%;
    margin-left: 5%;
  }

  .home-logo {
    display: none;
  }

  @media (max-width: 768px) {
    .home-logo {
      display: none;
    }

    header {
      background-image: url("images/SquaresBlackandWhitescreen.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin: 0;
      height: 100vh;
    }

    #about .about {
      background-color: #000000;
    }

    .gallery img {
      padding: 1rem 0rem 3rem 0;
    }


  </style>
